@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600;700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #e5e5e5;
}

#main-mobile {
  background: #fff;
  position: relative;
  width: 100vw;
  max-width: 375px;
  margin: 5vh auto;
  padding-bottom: 20px;
  overflow: hidden;
}

#tool-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}

.heading {
  background-image: url("./images/pictures/header-illsutration-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 726px;
}

.logo {
  height: 28px;
  width: 90px;
  left: 2%;
  top: 2%;
  text-decoration: none;
  font-family: Inter, serif;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem;
  text-align: center;
  color: #28352f;
}

.menu {
  list-style: none;
}

.menu .menu-icon {
  height: 2%;
  width: auto;
  left: 5%;
  top: 8px;
}

.primary {
  width: 100vw;
  max-width: 327px;
  margin-top: 8vw;
  flex: 1;
  font-family: Inter, serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0;
  color: #172b4d;
}

h2.primary {
  margin-top: 20px;
}

.i-am {
  color: #36b37e;
  display: block;
}

.social-media-icons {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  list-style: none;
  flex-wrap: wrap;
  flex: 1;
  padding: 0;
  width: 170px;
  max-width: 90vw;
}

.supporting-text {
  width: 100vw;
  max-width: 327px;
  flex: 1;
  font-family: Inter, serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  color: #172b4d;
}

.icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.social-media-icons .icon {
  height: 5%;
  width: auto;
}

#action {
  display: flex;
  height: 5%;
  width: 100vw;
  max-width: 327px;
  justify-content: center;
  flex: 1;
}

#action .icon {
  height: 6vw;
  width: 6vw;
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  padding: 2%;
  border: 1px solid #dfe1e6;
  background-image: url("./images/icons/Disabled.svg");
}

.recent-work {
  display: grid;
  gap: 5px 0;
  justify-items: center;
}

.recent-work .primary {
  margin-top: 0;
  font-size: 3rem;
}

hr {
  margin-top: 15px;
  width: 10%;
  background-color: #36b37e;
  height: 5px;
  border: none;
  border-radius: 5px;
}

.card-flow {
  display: flex;
  flex-direction: column;
}

.card-flow .card {
  position: relative;
  top: 20px;
  background-color: #ebf0ee;
  display: grid;
  gap: 0;
  justify-content: center;
  grid-template-rows: 250px 250px;
  grid-template-areas: "." "text";
  border-radius: 10px;
  margin: 5%;
}

.about-me .card-flow .card {
  position: relative;
  grid-template-rows: 180px 180px;
}

.about-me .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  background-image: url("./images/pictures/about-me-bottom.svg");
  background-size: cover;
}

.card-flow .card .text {
  grid-area: text;
  background-color: #fff;
  margin: 2px;
  border-radius: 10px;
}

.project-title,
.title {
  font-family: Inter, serif;
  font-weight: 600;
  font-size: 1.8rem;
  text-align: center;
  color: #3a4a42;
}

.tags ul {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.tags ul li {
  float: left;
  padding: 2% 3%;
  border-radius: 5px;
  background-color: #ebf0ee;
  margin-bottom: 10px;
}

.tags ul a {
  text-decoration: none;
  color: #3a4a42;
  font-family: Inter, serif;
  font-size: 0.8rem;
  font-weight: 600;
}

.text .action {
  float: left;
  clear: left;
  margin-left: 50%;
  transform: translate(-50%, 0);
  background-color: #36b37f;
  border: none;
  outline: none;
  padding: 4% 6%;
  position: relative;
  top: 15px;
  border-radius: 10px;
  border-radius: 5px;
  color: #fff;
  font-family: Inter, serif;
}

.about-me .text .supporting-text {
  color: #42526e;
  font-size: 1.5rem;
  font-weight: 400;
}

.about-me .text .action1 {
  background-color: #36b37f;
  border: none;
  outline: none;
  padding: 4% 6%;
  position: relative;
  top: 15px;
  border-radius: 10px;
  border-radius: 5px;
  color: #fff;
  font-family: Inter, serif;
  margin-bottom: 20px;
}

.about-me .icon .centerIcon {
  width: 15vw;
  height: 15vw;
  max-width: 80px;
  max-height: 80px;
  background-color: white;
  display: block;
  background-image: url("./images/icons/IconLangguage.svg");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

#frameworks {
  background-image: url("./images/icons/IconName.svg");
}

#skills {
  background-image: url("./images/icons/IconName-1.svg");
}

.about-me ul li a {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  color: #36b37e;
  box-shadow: 0 0 5px rgba(20, 20, 20, 0.137);
}

.about-me ul {
  justify-content: center;
}

.about-me ul li {
  padding: 0;
  margin-left: 7px;
  margin-bottom: 24px;
}

.top-background {
  align-self: flex-end;
  width: 150px;
  height: 150px;
  margin-bottom: -60px;
  display: block;
  background-image: url("./images/pictures/about-me-top.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
